body {
    padding-top: 7rem;
}
    
    
h1 {
    font-family:bebasneue;
    color:rgb(26, 15, 41);
    text-align:center;
}

h2 {
    color: rgb(15, 50, 146);
}

iframe {
    padding-left: 2rem;
    text-align: center;
}